<html>
<head>
  <script src="/vue/dist/vue.min.js"></script>
  <script src="/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/routine.css">
</head>

<body>
  <div id='routineApp' v-bind:class="mode">
    <a href='/'>home</a>
    <a href='/routines'>to Routines</a>
    <h1>{{name}}</h1>
    <ul>
      <li  v-for="goal in goals">
        <div v-bind:class="{active: goal.isActive, insertMode: goal.insertMode}">
          <input type=checkbox checked></input>{{goal.name}}<div class='cursor'>&nbsp;</div>
        </div>
      </li>
    </ul>
    <button>Add to tasks queue</button>
  </div>
  <script src="/js/routine.js"></script>
</body>
</html>
